<script setup lang="ts">
import {
  mdiCardAccountDetailsOutline,
  mdiBookOpenVariant,
  mdiHeartMultiple,
  mdiMusicCircleOutline,
  mdiGamepadVariantOutline,
  mdiMicrosoftXboxControllerBatteryLow,
  mdiTelevisionClassic,
  mdiDraw,
  mdiBookOpenPageVariantOutline,
} from "@mdi/js";
import { ref } from "vue";
const imgList = ref([
  {
    name: "ฟังเพลง",
    img: "https://img.icons8.com/color/512/vue-js.png",
  },
  {
    name: "ดูอนิเมะ",
    img: "https://material.angularjs.org/latest/img/logo.svg",
  },
  {
    name: "เล่นเกม",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/768px-React-icon.svg.png?20220125121207",
  },
]);
</script>
<template>
  <v-parallax
    height="300px"
    src="https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
  >
    <v-container>
      <v-row
        justify="center"
        style="
          font-size: 50px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          color: rgb(106, 35, 137);
        "
        >My Profile</v-row
      >
      <v-row justify="center">
        <v-avatar size="200">
          <v-img src="it'sme.jpg" cover></v-img>
        </v-avatar>
      </v-row> </v-container
  ></v-parallax>
  <p class="fonts">Manita Intharachot</p>
  <p class="fonts">มานิตา อินทรโชติ</p>
  <h1 class="fonts1">
    ประวัติส่วนตัว
    <v-icon :icon="mdiCardAccountDetailsOutline" size="40px"></v-icon>
  </h1>
  <br />
  <v-container>
    <v-row justify="center">
      <v-col cols="8">
        <v-table
          style="
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          <tbody>
            <tr>
              <th>ชื่อ-นามสกุล</th>
              <td>มานิตา อินทรโชติ</td>
            </tr>
            <tr>
              <th>ชื่อเล่น</th>
              <td>แพรว</td>
            </tr>
            <tr>
              <th>วันเกิด</th>
              <td>24 ธันวาคม 2546</td>
            </tr>
            <tr>
              <th>อายุ</th>
              <td>19 ปี</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <h1 class="fonts1">
    ประวัติการศึกษา <v-icon :icon="mdiBookOpenVariant" size="40px"></v-icon>
  </h1>
  <br />
  <v-timeline direction="horizontal">
    <v-timeline-item dot-color="yellow lighten-5">
      <template v-slot:opposite> ระดับประถมศึกษา </template>
      <div>
        <div class="text-h6">โรงเรียนอนุบาลศรีวัฒนาวิทยา</div>
        <p style="margin-left: 20px">ปฐมวัยปีที่ 1 - ประถมศึกษาปีที่ 6</p>
        <v-img
          src="https://www.sriwattana.ac.th/wp-content/uploads/2021/09/cropped-cropped-1027740179.jpg"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 45px"
        ></v-img>
      </div>
    </v-timeline-item>

    <v-timeline-item dot-color="pink accent-1">
      <template v-slot:opposite> ระดับมัธยมศึกษา </template>
      <div>
        <div class="text-h6" style="margin-left: 45px">โรงเรียนวัฒนานคร</div>
        <p>มัธยมศึกษาปีที่ 1 - มัธยมศึกษาปีที่ 6</p>
        <v-img
          src="http://www.wn.ac.th/web/images/genaral/logo_wn.png"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 40px"
        ></v-img>
      </div>
    </v-timeline-item>

    <v-timeline-item dot-color="deep-orange lighten-4">
      <template v-slot:opposite> ระดับอุดมศึกษา </template>
      <div>
        <div class="text-h6">มหาวิทยาบูรพา วิทยาเขตบางแสน</div>
        <p style="margin-left: 10px">
          อุดมศึกษาระดับปริญญาตรีปีที่ 1 - ปัจจุบัน
        </p>
        <v-img
          src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/04/logo-informatics.png"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 65px"
        ></v-img>
      </div>
    </v-timeline-item>
  </v-timeline>
  <h1 class="fonts1">
    สิ่งที่สนใจ <v-icon :icon="mdiHeartMultiple" size="40px"></v-icon>
  </h1>
  <br />
  <v-table>
    <tr>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiMusicCircleOutline"
        >
          <template v-slot:title> ฟังเพลง </template>

          <v-card-text>
            <v-img
              width="500px"
              src="https://static.thairath.co.th/media/dFQROr7oWzulq5FZUIK5xLC12WjG6gpYLOgTYQQg3qXbgZgQx3hq8YAZss35UMFoPHy.webp"
            ></v-img>
          </v-card-text>
        </v-card>
      </td>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiTelevisionClassic"
        >
          <template v-slot:title> ดูอนิเมะ </template>

          <v-card-text
            ><v-img
              width="500px"
              src="https://f.ptcdn.info/139/070/000/qdd3bm3ek19PuiOEuWJI-o.jpg"
            ></v-img
          ></v-card-text>
        </v-card>
      </td>
    </tr>
    <br />
    <tr>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiBookOpenPageVariantOutline"
        >
          <template v-slot:title> อ่านหนังสือ </template>

          <v-card-text
            ><v-img
              width="500px"
              src="https://assets.brandinside.asia/uploads/2020/06/joel-muniz-XqXJJhK-c08-unsplash-2048x1365.jpg"
            ></v-img
          ></v-card-text>
        </v-card>
      </td>
      <td>
        <v-card class="mx-auto" width="400" :prepend-icon="mdiDraw">
          <template v-slot:title> วาดรูป </template>

          <v-card-text
            ><v-img
              width="500px"
              src="https://itnews4u.com/upload/files/1422215721_ptz.jpg"
            ></v-img>
          </v-card-text>
        </v-card>
      </td>
    </tr>
    <br />
    <tr>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiGamepadVariantOutline"
        >
          <template v-slot:title> เล่นเกม </template>

          <v-card-text>
            <v-img
              width="500px"
              src="https://play-lh.googleusercontent.com/jSn12vqR13Vv98nE7b2oUX8rDLTTiapTVdywC2_yXmUxidvLYfEYhuXCrerD8df34w=w5120-h2880-rw"
            ></v-img>
          </v-card-text>
        </v-card>
      </td>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiMicrosoftXboxControllerBatteryLow"
        >
          <template v-slot:title> นักพัฒนาเกม </template>

          <v-card-text
            ><v-img
              width="500px"
              src="https://s3-us-east-2.amazonaws.com/maryville/wp-content/uploads/2020/11/06165041/video-game-developer.jpg"
            ></v-img
          ></v-card-text>
        </v-card>
      </td>
    </tr>
  </v-table>
</template>

<style>
.fonts {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: rgb(106, 35, 137);
  font-size: 20px;
}

.fonts1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(106, 35, 137);
  padding-left: 20px;
}
</style>
